%h1 About WebTracks
%p WebTracks is an analytics service that allows users to track events on their websites with a simple Javascript snippet. Kinda like Google Analytics, but scaled down.
%p WebTracks allows you to:
%ul
  %li Track events on your website with a client-side Javascript snippet.
  %li Capture and save events.
  %li Display the captured event data on your own personal dashboard.